body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(255, 253, 253);
}
span{
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    width: 120px;
    text-align: center;

}

input{
    border: solid black 4px;
    border-radius: 20%;
    margin: 10px;
    text-align: center;
}

#card{
    background: pink;
    margin-top: 10%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

div{
    display: flex;
   margin: 10px;
    justify-content: center;
}
P{
    text-align: center;
    font-weight: bolder;
    margin-top: 5%;
}